@{
    ViewData["Title"] = "Signup";
}

<div class="SignupContainer">
    <form class="SignupForm" asp-action="Create" method="post" enctype="text/plain">
        <input type="text" name="Username" required placeholder="Username" value="" />
        <input type="text" name="Email" required placeholder="Email" value="" />
        <input type="password" name="Password" required placeholder="Password" />
        <input type="password" name="ConfirmPassword" required placeholder="Confirm Password" />
        <input type="submit" name="Submit" value="Sign Up!" />
    </form>
</div>
<div>Have an account? <a asp-controller="Accounts" asp-action="Login">Sign in here!</a></div>
