@model IEnumerable<eBluAppFinal.Models.User>

@{
    ViewData["Title"] = "Log in";
}

@if(ViewBag.LoginError != "") 
{ 
    <div>@ViewBag.LoginError</div>
}
<div class="loginContainer">
    <form class="loginForm" asp-action="Login" method="post">
        <input type="text" name="username" required placeholder="Username" />
        <input type="password" name="password" required placeholder="Password" />
        <input type="submit" name="submit" value="Login" />
    </form>
</div>
<div>Don't have an account? <a asp-controller="Users" asp-action="Signup">Create one here!</a></div>
